.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.header {
  margin-top: 3rem;
  text-align: center;
}

/* TODO fix gallery gap */
