.layout {
  max-width: 744px;
  margin: 6.5rem auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > a {
    width: 50%;
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 1.6rem;
    border-radius: 16px;
    transition: 0.3s all;

    &:hover {
      color: var(--color-brand-700);
      background-color: var(--color-brand-10);
    }

    &:global(.active) {
      color: var(--color-brand-700);
      background-color: var(--color-brand-50);
    }
  }
}
